button {
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 15px;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-weight: 750;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
}

.btn-primary {
  background-color: #245abc;
}

.btn-success {
  background-color: green;
}

.btn-warn {
  background-color: rgba(239, 210, 160, 0.999);
  color: black;
}

.btn-disabled {
  background-color: gray;
  color: #242425;
  cursor: default;
}
