button {
  height: 30px;
  width: 100px;
  background-color: #245abc;
  color: white;
  border-radius: 2500rem;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-weight: 750;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
